<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>

<!--Database Connection Settings-->
       <!-- <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>-->
       <!--   <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/SampleDB</property>-->
       <!--  <property name="hibernate.connection.username">root</property>-->
       <!--   <property name="hibernate.connection.password">rootroot</property>-->
       <!--  <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>-->
       
       <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/EmployeeDB</property> 
        <property name="hibernate.connection.username">postgres</property>
      	 <property name="hibernate.connection.password">adminadmin</property>
<!--JDBC Connection Pool (use the built-in)-->
		<property name="connection.pool_size">1</property>
<!--SQL Dialect-->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="current_session_context_class">thread</property>
<!-- Disable the second-level cache-->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
<!--Echo all executed SQL to sysout-->
		<property name="show_sql">true</property>
<!--Drop and re-create the database schema on startup-->
		<property name="hbm2ddl.auto">update</property>
		<mapping class="Employee"></mapping>
    </session-factory>
 
</hibernate-configuration>
